.clearHistory{
    width: 50%;
    color: gray;
   height: 15px;
   writing-mode: horizontal-tb;
    margin-inline-start: 50%; 
     
}
.history{
 width: 50%;
height: 15px;
margin-inline-start: 10%;
writing-mode: horizontal-tb;
color: gray;
}
.back{
    width: 100%;
    height: 50px;
}
.listHistory{
    border-radius: 10%;
    background-color: antiquewhite;
}