.back {
  background-color: aliceblue;
}
.backGround {
  height: 180px;
  background-image: url("../../../asets/images/2.jpg");
  background-size: 100%;
  background-color: aliceblue;
}
.mapInput {
  height: 35px;
  width: 80%;
  background-color: white;
  border-radius: 5%;
  margin-inline-start: 50px;
  margin-top: 10px;
}
.btns {
  width: 80px;
  height: 30px;
  margin: 20px 180px;
}
